@font-face {
  font-family: "NanumBarunGothic";
  src: url("../fonts/NanumBarunGothic.ttf");
}
@font-face {
  font-family: "NanumBarunGothicBold";
  src: url("../fonts/NanumBarunGothicBold.ttf");
}

* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: "NanumBarunGothic", sans-serif;
  box-sizing: border-box;
  min-width: 1480px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid grey;
  background-color: white;
}
header .nav-bar {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
header .nav-bar .nav {
  display: flex;
}
header .nav-bar .nav li + li {
  padding-left: 30px;
}
header .nav-bar .nav li a.active,
header .nav-bar .name a.active {
  color: rgb(37, 84, 238);
}
header .nav-bar .nav:after {
  content: "|";
  color: rgb(78, 78, 78);
  padding: 0 20px;
}
header .nav-bar .nav li a {
  text-decoration: none;
  color: rgb(78, 78, 78);
}

header .logo strong {
  color: rgb(37, 84, 238);
  font-size: 2rem;
  font-weight: 800;
}
header .icons i {
  padding-right: 10px;
  cursor: pointer;
}
header .nav-bar .name {
  padding-left: 20px;
}
header .nav-bar .name a {
  display: flex;
  align-items: center;
}
header .nav-bar .name img {
  width: 30px;
  padding-right: 5px;
}
header .nav-bar .name p {
  display: inline-block;
}
header .sidenav,
header .openbtn {
  display: none;
}
/* 
@media all and (max-width: 1040px) and (min-width: 768px) {
}

@media all and (max-width: 767px) {
  header .nav-bar {
    display: none;
  }
  header .sidenav,
  header .openbtn {
    display: block;
  }
  .openbtn i {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

  .sidenav .name a {
    display: flex;
    align-items: center;
    padding: 8px 8px 0px 32px;
  }
  .sidenav .name img {
    width: 30px;
    padding-right: 5px;
  }
  .sidenav .name p {
    display: inline-block;
    font-size: 1.2rem;
  }
  .sidenav .icons {
    border-bottom: 1px solid rgb(199, 199, 199);
    margin-bottom: 20px;
  }
  .sidenav .icons i {
    font-size: 1.2rem;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    transition: 0.3s;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 2rem;
    margin-left: 50px;
  }
} */
