@import url("common.css");

.main {
  background-color: rgb(247, 247, 247);
  height: 100%;
  display: inline-block;
}

.main .wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 0 70px;
  background-color: white;
}

.title {
  margin-top: 20px;
  width: 89%;
  margin: 0 auto;
  padding: 20px 0;
}
.title a {
  font-size: 1.7rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.title a:first-child:after {
  content: "|";
  padding: 0 20px;
  color: black;
}
.title a.active {
  color: rgb(37, 84, 238);
}

form {
  display: inline-block;
}
form select {
  font-size: 1.2rem;
  padding: 10px;
  background-color: rgb(37, 84, 238);
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  font-family: "Nanum Gothic", sans-serif;
}
form select option {
  background-color: white;
  color: black;
}
button.search {
  margin-left: 20px;
  font-size: 1.2rem;
  border: 1px solid black;
  outline: none;
  padding: 10px 15px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}
.submit-btn {
  position: absolute;
  right: 6%;
  top: 4%;
}
.submit-btn button {
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 10px 15px;
  background-color: rgb(37, 84, 238);
  border-radius: 10px;
}
.submit-btn button a {
  color: white;
}
.filter {
  padding: 30px 0;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.profile-box {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  display: inline-block;
  width: 270px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.profile-box .wrap {
  width: 80%;
  margin: 0 auto;
}
.profile-box .person {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  cursor: pointer;
}
.profile-box .person .profile-pic img {
  width: 50px;
  padding-right: 5px;
}

.profile-box .person .info .name {
  font-weight: bold;
}
.profile-box .person .info .major {
  font-size: 0.9rem;
}
.profile-box .about {
  font-weight: bold;
  line-height: 1.5rem;
  padding-bottom: 10px;
  cursor: pointer;
}
.profile-box .about .skills,
.profile-box .about .class {
  color: rgb(37, 84, 238);
}
.profile-box .buttons button {
  border: none;
  outline: none;
  color: white;
  background-color: rgb(37, 84, 238);
  padding: 5px;
  cursor: pointer;
}

.like {
  display: inline-block;
  color: red;
  float: right;
  font-size: 1.2rem;
  cursor: pointer;
  padding-top: 10px;
}
/* 
@media all and (max-width: 1040px) and (min-width: 768px) {
  .main .wrapper {
    width: 100%;
    padding: 0;
  }
  .profile-container {
    justify-content: space-evenly;
  }
  .submit-btn button {
    right: 2%;
  }
}

@media all and (max-width: 767px) {
  .main {
    background-color: white;
  }
  .main .wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .title a {
    font-size: 1.3rem;
  }
  .filter {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    background-color: rgb(243, 243, 243);
  }
  form select {
    font-size: 1rem;
    padding: 10px 5px;
    background-image: url("../content/arrow-white.png");
    background-size: 10px;
    background-position: 80px;
    background-repeat: no-repeat;
    border-right: 1px solid white;
    width: 100px;
    border-radius: 10px;
  }
  select {
    appearance: none;
    -webkit-appearance: none;
  }
  select::-ms-expand {
    display: none;
  }
  form select option {
    font-size: 0.9rem;
  }
  button.search {
    font-size: 0.9rem;
    padding: 5px 10px;
  }
  .submit-btn button {
    font-size: 0.9rem;
    right: 0%;
    top: 23.5%;
    background-color: transparent;
  }
  .submit-btn button a {
    color: gray;
  }
  .profile-container {
    justify-content: center;
    padding-top: 30px;
  }
} */
