@import url(common.css);

.main {
  display: flex;
  align-items: center;
  background-color: rgb(247, 247, 247);
  height: 100vh;
}

.details {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-left: 50px;
}
.profile-detail .person {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: baseline;
  padding-top: 50px;
}
.profile-detail .person .profile-pic {
  position: relative;
}
.profile-detail .person .profile-pic img {
  width: 200px;
}
.profile-detail .person .fa-heart {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 4rem;
  color: rgb(255, 0, 85);
  cursor: pointer;
}

.profile-detail .person .info .major {
  font-size: 1.3rem;
}
.profile-detail .person .message-btn {
  outline: none;
  border: none;
  color: white;
  background-color: rgb(37, 84, 238);
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.profile-detail .person .revise-btn {
  outline: none;
  border: 2px solid grey;
  color: grey;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.profile-detail {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  height: 100%;
}
.profile-detail h4 {
  position: absolute;
  top: 20px;
  right: 30px;
  color: rgb(138, 138, 138);
}
.profile-detail h4:before {
  content: "";
  display: inline-block;
  width: 200px;
  border-bottom: 2px solid rgb(136, 136, 136);
  margin-right: 10px;
  margin-bottom: 5px;
}

.profile-detail div + div {
  padding-top: 30px;
}
.profile-detail h3 {
  display: block;
  padding-bottom: 10px;
}
.profile-detail .hash li {
  display: inline-block;
  color: rgb(37, 84, 238);
  border: 2px solid rgb(37, 84, 238);
  border-radius: 10px;
  padding: 5px 7px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.profile-detail .interest > ul > strong {
  display: inline-block;
  color: black;
  font-size: 1rem;
}
.back-Btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: grey;
}
.back-Btn p {
  display: inline-block;
  font-size: 0.9rem;
}
