@font-face {
  font-family: "NanumBarunGothic";
  src: url("fonts/NanumBarunGothic.ttf");
}
@font-face {
  font-family: "NanumBarunGothicBold";
  src: url("fonts/NanumBarunGothicBold.ttf");
}

* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: "NanumBarunGothic", sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid grey;
  background-color: white;
}
header .nav-bar {
  display: flex;
  font-size: 1.2rem;
}
header .nav-bar .nav {
  display: flex;
}
header .nav-bar .nav li + li {
  padding-left: 30px;
}
header .nav-bar .nav li a.active {
  color: rgb(37, 84, 238);
}
header .nav-bar .nav:after {
  content: "|";
  color: rgb(78, 78, 78);
  padding: 0 20px;
}
header .nav-bar .nav li a {
  text-decoration: none;
  color: rgb(78, 78, 78);
}

header .logo strong {
  color: rgb(37, 84, 238);
  font-size: 2rem;
  font-weight: 800;
}
header .icons i {
  padding-right: 10px;
  cursor: pointer;
}
header .nav-bar .name {
  padding-left: 20px;
}
header .nav-bar .name p {
  display: inline-block;
}
