@import url(common.css);

.main {
  display: flex;
  align-items: center;
  background-color: rgb(247, 247, 247);
  height: 100vh;
}

.details {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-left: 50px;
}
.profile-detail .person {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profile-detail .person .profile-pic {
  position: relative;
}
.profile-detail .person .profile-pic img {
  width: 200px;
}
.profile-detail .person .fa-heart {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 4rem;
  color: rgb(255, 0, 85);
  cursor: pointer;
}

.profile-detail .person .info .major {
  font-size: 1.3rem;
}
.profile-detail .person .message-btn {
  outline: none;
  border: none;
  color: white;
  background-color: rgb(37, 84, 238);
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.profile-detail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}

.profile-detail div + div {
  padding-top: 30px;
}
.profile-detail h3 {
  display: block;
  color: rgb(37, 84, 238);
  padding-bottom: 5px;
}
.profile-detail .hash li {
  display: inline-block;
  border: 1px solid rgb(37, 84, 238);
  border-radius: 10px;
  padding: 8px 10px;
  margin-bottom: 5px;
}
.profile-detail .interest > ul > strong {
  display: inline-block;
  color: black;
  font-size: 1rem;
}
