@import url(common.css);

.main .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: rgb(247, 247, 247);
}
.main .wrapper .login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  padding: 20px;
  background-color: white;
}
.main .wrapper .login-box .title {
  font-size: 2rem;
  color: rgb(37, 84, 238);
  padding-bottom: 30px;
}
.login-box .input-area {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.login-box .input-area input {
  font-size: 1.3rem;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgb(172, 172, 172);
  outline: none;
}
.login-box .input-area .find {
  text-align: right;
  padding-bottom: 20px;
}
.login-box .input-area .find a {
  color: rgb(95, 95, 95);
}
.login-box .input-area .login-Btn {
  font-size: 1.3rem;
  background-color: rgb(37, 84, 238);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-box .input-area .login-Btn a {
  display: inline-block;
  padding: 10px;
  width: 90%;
  color: white;
}

.login-box .help {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
}

/* -----media query----- */

@media all and (max-width: 767px) {
  .main .wrapper {
    background-color: white;
  }
  .main .wrapper .login-box {
    padding: 0;
    margin: 0;
    width: 90%;
  }
  .main .login-box .input-area {
    display: flex;
    flex-direction: column;
  }
  .login-box .input-area .input-box {
    display: flex;
    flex-direction: column;
  }
  .login-box .input-area .input-box input {
    width: auto;
    margin-bottom: var(--small-padding);
  }
  .login-box .input-area .login-Btn {
    margin: 0;
  }
  .login-box .input-area .login-Btn button {
    width: 100%;
    height: auto;
    padding: calc((var(--small-padding)) / 2) 0;
  }
}
